@model Product
@{
    var cartViewModel = new CartViewModel();
}

<div>
    <div class="">
        <img src="/images/product-images/@Model.ImageUrl" class="img-thumbnail product-list-item__image" />
    </div>
    <div class="border border-info mb-5">
        <span class="ml-1">@Model.ProductName</span><br>

        <span class="ml-1">Price: $@Model.Price</span>

        <span class="ml-1">Size: @Model.Size</span>

        <form asp-controller="Cart" asp-action="AddItemToCart" method="post">
            <input type="hidden" asp-for="@cartViewModel.ProductId" name="ProductId" value="@Model.Id" />
            <input type="hidden" asp-for="@cartViewModel.CategorySlug" name="CategorySlug" value="@ViewData["SelectedCategory"]" />
            <input type="hidden" asp-for="@cartViewModel.BrandSlug" name="BrandSlug" value="@ViewData["SelectedBrand"]" />
            <input type="hidden" asp-for="@cartViewModel.Page" name="Page" value="@ViewData["Page"]" />
            <button type="submit" name="submit" class="btn-dark m-1">Add to Cart</button>
        </form>
    </div>
</div>

